# Node.js / Lambda
node_modules/
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.local
.env.*.local
.env2
.DS_Store
*.zip
*.d.ts

# CDK asset staging directory
.cdk.staging
cdk.out

# AWS SAM or other Lambda build artifacts (if applicable)
.aws-sam/

# Vite React Frontend
dist/
.vite/

# Build outputs
build/

# System files
.DS_Store
Thumbs.db

# Editor / IDE directories
.vscode/
.idea/

# Ignore lambda layer build folders
**/nodejs/

# Include lambda layer zip files
!lambda/layers/**/*.zip
!jest.config.js